body{
margin:0;
font-family:Arial;
background:#0f0f0f;
color:white;
text-align:center;
}

header{
background:#6a00ff;
padding:20px;
}

nav button{
margin:5px;
padding:10px;
background:#111;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

section{
padding:40px;
}

input{
padding:10px;
margin:5px;
border-radius:8px;
border:none;
}

button{
padding:10px 20px;
background:#6a00ff;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

.card{
background:#1c1c1c;
padding:15px;
margin:10px;
border-radius:10px;
}
